.gallery {
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-grow: 1;
  padding: 10px 10px;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
}

.img {
  min-width: 105px;
  min-height: 105px;
  max-width: 33%;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
