.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

.top {
  padding-left: 16px;
  padding-top: 27px;
  padding: 27px 16px 0 16px;
}

.top div {
  margin: 15px 0;
  font-size: 13px;
}

.top input {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 25px;
}

.bottom {
  padding-top: 27px;
  padding: 27px 16px 0 16px;
  color: var(--accent-color);
}

.bottom span {
  margin-right: 10px;
}

.bottom div {
  margin-bottom: 15px;
  font-size: 13px;
  color: black;
}
